# <center> Data Cleaning </center>

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

# Movies

### Read

In [2]:
movies = pd.read_csv(r"data/top_movies.csv")

In [3]:
movies = movies.dropna()

### Order

In [4]:
movies = movies[['movie_url','title','rating','date','genres','total_ratings',
                 'num_user_reviews','top_cast','director','writers',
                 'plot_tags','language','summaries']]

In [5]:
# Get movie_id
movies['id'] = movies['movie_url'].apply(lambda x: x.split("/")[4])

# Drop url
movies = movies.drop(columns='movie_url')

In [6]:
movies['date'] = movies['date'].astype(int)

In [7]:
movies['genres'] = movies['genres'].apply(lambda x: x.split(",")).apply(list)

In [8]:
movies['top_cast'] = movies['top_cast'].apply(lambda x: x.split(",")).apply(list)

In [9]:
movies['writers'] = movies['writers'].apply(lambda x: x.split(",")).apply(list)

In [10]:
movies['plot_tags'] = movies['plot_tags'].apply(lambda x: x.split(",")).apply(list)

In [11]:
def clean_ratings_reviews(input_string):
    if 'M' in input_string:
        number = int(float(input_string[:-1]))
        return number * 1000000
    if 'K' in input_string:
        number = int(float(input_string[:-1]))
        return number * 1000
    else:
        return int(float(input_string))

In [12]:
movies['total_ratings'] = movies['total_ratings'].apply(clean_ratings_reviews)
movies['num_user_reviews'] = movies['num_user_reviews'].apply(clean_ratings_reviews)

In [13]:
movies['summaries'] = movies['summaries'].apply(lambda x: x[3:-4])

In [14]:
movies.sample(5)

,title,rating,date,genres,total_ratings,num_user_reviews,top_cast,director,writers,plot_tags,language,summaries,id
4873,Truth,6.8,2015,"[Biography, Drama, History, Thriller]",20000,121,"[Cate Blanchett, Robert Redford, Dennis Quaid,...",James Vanderbilt,"[James Vanderbilt, Mary Mapes]","[laptop computer, timeframe 2000s, timeframe 2...",English,Newsroom drama detailing the 2004 CBS 60 Minut...,tt3859076
6031,Life or Something Like It,5.8,2002,"[Comedy, Romance]",26000,133,"[Angelina Jolie, Edward Burns, Tony Shalhoub, ...",Stephen Herek,"[John Scott Shepherd, Dana Stevens]","[homeless man, alternative reality, prophecy, ...",English,"A reporter interviews a psychic, who tells her...",tt0282687
9285,Hoodlum,6.3,1997,"[Crime, Drama]",11000,62,"[Laurence Fishburne, Tim Roth, Vanessa William...",Bill Duke,[Chris Brancato],"[1930s, gangster, great depression, street sho...",English,Black gangsters in 1930 Harlem fights Dutch Sc...,tt0119311
9826,Before the Rain,8.0,1994,"[Drama, Romance, War]",15000,76,"[Katrin Cartlidge, Rade Serbedzija, Grégoire C...",Milcho Manchevski,[Milcho Manchevski],"[endless loop, brother brother incest, violenc...","Macedonian,English,Albanian,French",Three interconnected stories of love under the...,tt0110882
7187,Smoke,7.4,1995,"[Comedy, Drama]",36000,83,"[Harvey Keitel, William Hurt, Giancarlo Esposi...",Wayne Wang,[Paul Auster],"[smoke, cigarette smoking, death of wife, year...",English,A Brooklyn smoke shop is the center of neighbo...,tt0114478

In [15]:
movies.to_csv(r"data/top_movies_clean.csv",index = False)

# <center> -------------------------------------------------------------------- </center>

# Ratings

In [16]:
links_df = pd.read_csv(r"data/links.csv", dtype={'imdbId': object})
display(links_df.shape)
links_df.head(2)

(9742, 3)

   movieId   imdbId  tmdbId
0        1  0114709   862.0
1        2  0113497  8844.0

In [17]:
ratings_df = pd.read_csv(r"data/ratings.csv")
ratings_df.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [18]:
ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'], unit='s')
ratings_df['timestamp'] = ratings_df['timestamp'].dt.date

In [19]:
user_ratings = pd.merge(ratings_df, links_df[['movieId','imdbId']], left_on='movieId', right_on='movieId')

In [20]:
user_ratings = user_ratings.dropna()

In [21]:
user_ratings['imdbId'] = user_ratings['imdbId'].astype(str).apply(lambda x: "tt" + x)

In [22]:
user_ratings.sample(5)

       userId  movieId  rating   timestamp     imdbId
54759     610    38061     5.0  2016-11-19  tt0373469
73640     274    54736     4.0  2008-01-18  tt0431197
98301     414     8587     3.5  2005-03-04  tt0230512
41188     430     6377     3.5  2003-07-06  tt0266543
37291     390     5989     2.0  2009-08-15  tt0264464

In [23]:
user_ratings['title'] = user_ratings['imdbId'].map(id_title_dict)

NameError: name 'id_title_dict' is not defined

In [ ]:
user_ratings.info()

In [ ]:
user_ratings = user_ratings.dropna()

In [ ]:
user_ratings.to_csv(r"data/user_ratings_clean.csv", index=False)