# **<h1><center> K-Means Rock Type Clustering </center></h1>**

### Import dependencies

In [3]:
import pandas as pd
from sklearn.cluster import KMeans
pd.set_option('display.float_format', '{:.2f}'.format)
import numpy as np
import plotly
import plotly.express as px
import lasio
import matplotlib.pyplot as plt
print("Done")

Done

### Create DataFrame from .las files

In [48]:
# Import .las file into a LASFile object (from lasio package)
las = lasio.read(r"C:\Users\johno\Python\Logs\single-30933-AIG-CND-CAL.las.txt")

# Create DataFrame
df = las.df()

# Observe DataFrame
print(df.shape)
df.head()

(21543, 55)

,AF10,AF20,AF30,AF60,AF90,AO10,AO20,AO30,AO60,AO90,...,RSOZ,RWA_HILT,RXO8,RXOZ,SP,SPAR,STIT,TENS,TNPH,HTNP_SAN
DEPT,,,,,,,,,,,,,,,,,,,,,
7.00,0.90,5.97,111.83,11.37,9.71,0.18,0.55,2.67,2.32,2.23,...,nan,2.36,nan,nan,-459.00,-459.00,0.00,1054.00,-0.07,-0.06
7.50,0.90,5.97,111.83,11.37,9.71,0.18,0.55,2.67,2.32,2.23,...,nan,2.36,nan,nan,-459.00,-459.00,0.00,1054.00,-0.07,-0.06
8.00,0.90,5.97,111.83,11.37,9.71,0.18,0.55,2.67,2.32,2.23,...,nan,2.36,nan,nan,-459.00,-459.00,0.00,1054.00,-0.06,-0.06
8.50,0.90,5.97,111.83,11.37,9.71,0.18,0.55,2.67,2.32,2.23,...,nan,2.36,nan,nan,-459.00,-459.00,0.00,1054.00,-0.06,-0.06
9.00,0.90,5.97,111.83,11.37,9.71,0.18,0.55,2.67,2.32,2.23,...,nan,2.36,nan,nan,-459.00,-459.00,0.00,1054.00,-0.06,-0.06

### View avaliable logs

In [49]:
# Create a copy to manipulate
df2 = df.copy()

# Filter to the logs we need and reasonable values
df2 = df2[['GR','RHOZ','NPHI']]
df2 = df2[df2['RHOZ'].between(1.8,3.2)]

# Drop first 2000'
df2 = df2[df2.index > 2000]

# Drop rows missing values
df2.dropna(inplace=True)

# Inspect
print(df2.shape)
df2.describe().transpose()

(17504, 3)

        count  mean   std   min   25%   50%    75%     max
GR   17504.00 73.08 66.39  3.92 22.49 75.86 100.44 1217.80
RHOZ 17504.00  2.56  0.19  1.83  2.41  2.57   2.71    3.17
NPHI 17504.00  0.18  0.15 -0.02  0.03  0.16   0.33    0.60

# Log Plot

### Cluster Color Dictionary

In [50]:
cluster_color_dict = {
    1: {'color':'CornflowerBlue'},
    2: {'color':'orange'},
    3: {'color':'yellow'},
    4: {'color':'black'},
    5: {'color':'green'},
    6: {'color':'fuchsia'},
     }

### Define Plotting Function

In [52]:
def makeplot(well_df, top_depth, bottom_depth):
    fig, ax = plt.subplots(figsize=(12,9))

    #Set up the plot axes
    ax1 = plt.subplot2grid((1,5), (0,0), rowspan=1, colspan = 1)
    ax2 = plt.subplot2grid((1,5), (0,1), rowspan=1, colspan = 1, sharey = ax1)
    ax3 = ax2.twiny() #Twins the y-axis for the density track with the neutron track
 

    # As our curve scales will be detached from the top of the track,
    # this code adds the top border back in without dealing with splines
    ax10 = ax1.twiny()
    ax10.xaxis.set_visible(False)
    ax11 = ax2.twiny()
    ax11.xaxis.set_visible(False)

    # Gamma Ray track
    ax1.plot(well_df["GR"], well_df.index, color = "black", linewidth = 0.5)
    ax1.set_xlabel("Gamma")
    ax1.xaxis.label.set_color("black")
    ax1.set_xlim(0, 200)
    ax1.set_ylabel("Depth (m)")
    ax1.tick_params(axis='x', colors="black")
    ax1.spines["top"].set_edgecolor("black")
    ax1.title.set_color('black')
    ax1.set_xticks([0, 50, 100, 150, 200])
    
    left_col_value = 0
    right_col_value = 200
    span = abs(left_col_value - right_col_value)

    cmap = plt.get_cmap('inferno_r')
    color_index = np.arange(left_col_value, right_col_value, span / 5)

    #loop through each value in the color_index
    for index in sorted(color_index):
        index_value = (index - left_col_value)/span
        color = cmap(index_value) #obtain colour for color index value
        ax1.fill_betweenx(well_df.index, well_df["GR"] , 200, where = well_df["GR"] >= index,  color = color)


    # Density track
    ax2.plot(well_df["RHOZ"], well_df.index, color = "green", linewidth = 0.5)
    ax2.set_xlabel("Density")
    ax2.set_xlim(1.95, 2.95)
    ax2.xaxis.label.set_color("green")
    ax2.tick_params(axis='x', colors="green")
    ax2.spines["top"].set_edgecolor("green")
    ax2.set_xticks([1.95, 2.45, 2.95])

    # Neutron track placed ontop of density track
    ax3.plot(well_df["NPHI"], well_df.index, color = "blue", linewidth = 0.5)
    ax3.set_xlabel('Neutron')
    ax3.xaxis.label.set_color("blue")
    ax3.set_xlim(0.4, -0.1)
    ax3.tick_params(axis='x', colors="blue")
    ax3.spines["top"].set_position(("axes", 1.08))
    ax3.spines["top"].set_visible(True)
    ax3.spines["top"].set_edgecolor("blue")
    ax3.set_xticks([0.4,  0.1, -0.1])
    
    x1=well_df['RHOZ']
    x2=well_df['NPHI']

    x = np.array(ax2.get_xlim())
    z = np.array(ax3.get_xlim())

    nz=((x2-np.max(z))/(np.min(z)-np.max(z)))*(np.max(x)-np.min(x))+np.min(x)

    ax2.fill_betweenx(well_df.index, x1, nz, where=x1>=nz, interpolate=True, color='lightgrey')
    ax2.fill_betweenx(well_df.index, x1, nz, where=x1<=nz, interpolate=True, color='yellow')

    
    if any("Cluster" in s for s in well_df.columns.tolist()):
        log = [l for l in well_df.columns.tolist() if "Cluster" in l][0]
        str(log)
        ax4 = plt.subplot2grid((1,5), (0,2), rowspan=1, colspan = 1, sharey = ax1)
        ax15 = ax4.twiny()
        ax15.xaxis.set_visible(False)

        # Lithology track
        ax4.plot(well_df[log], well_df.index, color = "black", linewidth = 0.5)
        ax4.set_xlabel("Lithology")
        ax4.set_xlim(0, 1)
        ax4.xaxis.label.set_color("black")
        ax4.tick_params(axis='x', colors="black")
        ax4.spines["top"].set_edgecolor("black")

        for key in cluster_color_dict.keys():
            color = cluster_color_dict[key]['color']
            ax4.fill_betweenx(well_df.index, 0, well_df[log], where=(well_df[log]==key),
                             facecolor=color)


        ax4.set_xticks([0, 1])
        
        ax4.set_ylim(bottom_depth, top_depth)
        ax4.grid(which='major', color='lightgrey', linestyle='-')
        ax4.xaxis.set_ticks_position("top")
        ax4.xaxis.set_label_position("top")
        ax4.spines["top"].set_position(("axes", 1.02))
        
        
        plt.setp(ax4.get_yticklabels(), visible = False)


    # Common functions for setting up the plot can be extracted into
    # a for loop. This saves repeating code.
    for ax in [ax1, ax2]:
        ax.set_ylim(bottom_depth, top_depth)
        ax.grid(which='major', color='lightgrey', linestyle='-')
        ax.xaxis.set_ticks_position("top")
        ax.xaxis.set_label_position("top")
        ax.spines["top"].set_position(("axes", 1.02))
        
        
    for ax in [ax2]:
        plt.setp(ax.get_yticklabels(), visible = False)
        
    plt.tight_layout()
    fig.subplots_adjust(wspace = 0.25)

In [ ]:
df_plot = df2.copy()

makeplot(df_plot,2000,11000)

### Standardize Data

In [63]:
from sklearn.preprocessing import StandardScaler

# Create the scaler and standardize the data
scaler = StandardScaler()
df2_std = scaler.fit_transform(df2)

# Create DataFrame
df2_std = pd.DataFrame(df2_std)
df2_std.columns = df2.columns

# Inspect
print(df2_std.shape)
df2_std.describe().transpose()

(17504, 4)

            count  mean  std   min   25%   50%  75%   max
GR       17504.00 -0.00 1.00 -1.04 -0.76  0.04 0.41 17.24
RHOZ     17504.00  0.00 1.00 -3.90 -0.82  0.05 0.76  3.23
NPHI     17504.00 -0.00 1.00 -1.38 -1.03 -0.13 1.01  2.84
Clusters 17504.00  0.00 1.00 -2.15 -1.07  0.02 1.10  3.27

## Build Model

In [66]:
# Create model
cluster_model = KMeans(n_clusters = 6)

# Fit to our DataFrame
cluster_model.fit(df2_std)

# Get the cluster labels into our standardized and non-standardized DataFrames
df2_std['Clusters'] = cluster_model.labels_ + 1
df2['Clusters'] = cluster_model.labels_ + 1

## View Clusters - 2D Scatter

In [ ]:
df_scatter = df2.copy()

fig = px.scatter(df_scatter, y='RHOZ', x='NPHI', color = 'Clusters', width=900, height=550)

fig.show()

## View Clusters - 3D Scatter

In [ ]:
df_scatter = df2.copy()

fig = px.scatter_3d(df_scatter, x='NPHI', y='RHOZ', z='GR',
              color='Clusters')

fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))

fig.show()

## View Clusters - Log Plot

In [ ]:
df_plot = df2.copy()

makeplot(df_plot,2000,11000)